<footer class="bg-red">
  <div class="shadow-wrap"></div>
  <div class="shadow "></div>
  <div class="container wrapper">
    <div class="four columns">
      <a class="boo" href="https://github.com/jacomyal/sigma.js"><span class="label">fork on github</span> <i class="fa fa-github"></i></a>
    </div>
    <div class="four columns">
      <a class="boo" href="https://twitter.com/sigmajs"><span class="label">follow on twitter</span> <i class="fa fa-twitter"></i></a>
    </div>
    <div class="four columns">
      <a class="boo" href="/github.com/"><span class="label">download v1.0.0</span> <i class="fa fa-download"></i></a>
    </div>
    <div class="four columns">
      <a class="boo" href="http://medialab.sciences-po.fr"><span class="label">SciencesPo - médialab</span> <span class="mobile-only">medialab</span></a>
    </div>
  </div>
</footer>


<div class="below-the-footer bg-red">
  <div class="container">
    <div class="sixteen columns">
      <div id="disclaimer">
        <p>sigmajs is developed by <span class="author"><a href="https://github.com/jacomyal">Alexis Jacomy</a></span>, with the help of <span class="author"><a href="https://github.com/Yomguithereal">Guillaume Plique</a></span>.</p>
        <p>design by <span class="author"><a href="https://github.com/danieleguido">Daniele Guido</a></span></p>
        <p>A special thanks to <span class="author"><a href="http://www.medialab.sciences-po.fr/">Sciences-Po | Médialab</a></span>.</p>
      </div>
    </div>
  </div>
</div>
