<header>
  <div class="shadow-wrap"></div>
  <div class="shadow"></div>
  <div class="container wrapper">
    <div class="six columns menu-toggler">
      <a class="local-link" href="#banner"><h5 class="sigma title">sigma<span class="red">js</span></h5></a>
      <div class="menu-button right-aligned fa fa-bars fa-2"></div>
    </div>
    <div class="ten columns right-aligned menu">
      <div class="wrapper">
        <a href="#get-started" class="local-link entry">get started</a>
        <a href="#features" class="local-link entry">features</a>
        <a href="#usecases" class="local-link entry">use cases</a>
        <a href="#tutorial" class="local-link entry">tutorial</a>
        <a href="#references" class="local-link entry">references</a>
      </div>
    </div>
  </div>
</header>
