/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html {
  font-size: 62.5%;
  height: 100%;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #f9f7ed;
  height:100%;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}

hr {
  color: #cccac4;
  background-color: #cccac4;
  height: 2px;
  margin: -0.5em 0;
  padding: 0;
  border: 0;
}

header {
  background-color: #ffffff;
  padding: 24px 0;
}
header.scrolled {
  border-bottom: 3px #f9f7ed solid;
}

footer {
  padding: 12px 0;
  color: #ffffff;
  clear: both;
}

.below-the-footer {
  padding: 24px 0;
  color: #ffffff;
  clear: both;
}

.box {
  background-color: #ffffff;
  height: 260px;
}

.bottom {
  padding-bottom: 20px;
}

.big-bottom {
  padding-bottom: 50px;
}

/* Colors: */
.green { color: #437356; }
.bg-green { background-color: #437356; }
.light-green { color: #aac789; }
.bg-light-green { background-color: #aac789; }
.red { color: #ec5148; }
.bg-red { background-color: #ec5148; }
.beige { color: #f9f7ed; }
.bg-beige { background-color: #f9f7ed; }

/* #Page Styles
================================================== */
a.boo {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #ec5148;
  color: #f9eedc;
  text-align: center;
  display: block;
}

a.boo:hover{
  color: white;
}

a.boo .fa{
  padding-left: 12px;
}

a.entry{
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
}

a.entry.active, a.entry:hover{
  background: ;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* #Dummy-stuffs
================================================== */
.right-aligned{
  text-align: right;
}

.center-aligned{
  text-align: center;
}
